$background: #111D35;
$lightgray: #f3f3f3;

a, a:link, a:visited, a:active {
  text-decoration: none;
}

body {
  background-color: $background;
  font-family: 'Poppins', sans-serif;
}

img {
  margin-top: 50px;
  max-width: 20%;
  max-height: 20%;
}

#search {
  color: black;
}

.entry, .entry a, .entry a:link, .entry a:visited, .entry a:active {
  background-color: $lightgray;
  color: black;
  margin: 4px 100px 4px 100px;
  padding: 6px 30px 6px 30px;
  text-decoration: none;
}

.random, .random a {
  color: white;
  text-align: center;
}